.main-con {
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 100%;
}

.box-style1 {
    background-color: darkgoldenrod;
    border: 2px solid black;
    margin: 20px;
    flex-basis: 30%;
}

.box-style2 {
    background-color: gray;
    border: 2px solid black;
    margin: 20px;
    flex-basis: 30%;
    order: 1;
}
.box-style3{
    background-color: steelblue;
    border: 2px solid black;
    margin: 20px;
    flex-basis: 30%;
    order: 1;
}