.box-style1{
    background-color: darkgoldenrod;
    height: 150px;
    border:2px solid black;
    margin: 2%;
}
.main-box{
    height: 150px;
    margin: 2%;
    display: flex;
}
.sec-box1 {
    background-color: gray;
    border: 2px solid black;
    margin-right: 10px;
    flex-grow: 1;
    margin-right: 5%;
}
.sec-box2{
    background-color: cadetblue;
    flex-grow: 2;
    border: 2px solid black
    
}
.box-style3{
    background-color: cornflowerblue;
    height: 150px;
    border: 2px solid black;
    margin: 2%;
}
.flex-box{
    display: flex;
    height: 100px;
    margin: 2%;
    justify-content: space-between;
}
.first-para,.second-para,.third-para,.fourth-para{
    background-color: hotpink;
    border: 2px solid black;
    flex-direction: column;
    flex-basis: 250px;

}