.contain-all{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 2%;
}
.box-style1{
    background-color: darkgoldenrod;
    border: 2px solid black;
    flex-basis: 25%;
    flex-direction: row;
    margin: 2%;
}
main{
    display: flex;
    height: 100%;
    flex-basis: 75%;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}
.sec-box1{
    background-color: darkturquoise;
    border: 2px solid black;
    margin-bottom: 10%;
    height: 500px;
    margin: 2%;
}
.sec-box2{
    background-color: gray;
    border: 2px solid black;
    margin-bottom: 10%;
    height: 500px;
    margin: 2%;
}