.box-style1{
    background-color: darkgoldenrod;
    height: 150px;
    border:2px solid black;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
}
.main-box{
    height: 150px;
    margin: 2%;
    display: flex;
}
.sec-box1 {
    background-color: gray;
    border: 2px solid black;
    flex-grow: 1;
    margin-right: 5%;
}
.sec-box2{
    background-color: cadetblue;
    flex-grow: 2;
    border: 2px solid black
    
}
.box-style3{
    background-color: cornflowerblue;
    height: 150px;
    display: flex;
    border: 2px solid black;
    margin: 2%;
    justify-content: right;
}
.flex-box{
    display: flex;
    height: 100px;
    margin: 2%;
    justify-content: space-evenly;
}
.first-para,.second-para,.third-para,.fourth-para{
    background-color: hotpink;
    border: 2px solid black;
    flex-direction: column;
    flex-basis: 250px;
    margin-left: 5%;

}
.fifth-para{
    background-color: darkgreen;
    border-radius: 50%;
    flex-basis: 200px;
    border: 2px solid;
  
}
.invisible-box,.invisible-box2{
    flex-direction: column;
    flex-basis: 250px;
}
.style-header{
    background-color: darkgreen;
    border: 2px solid black;
    flex-basis: 120px;
    height: 100px;
    margin: 25px;
}
.log-me{
    align-content: center;
    font-size: x-large;
    flex-basis: 120px;
    margin: 2%;
  
}
.style-header2,.style-header3,.style-header4,.style-header5{
    flex-direction: column;
    flex-basis: 120px;
    margin: 2%;
}
.about-us,.support,.social-connect{
    background-color: rgb(40, 179, 179);
    border: 2px solid black;
    flex-basis: 120px;
    height: 75px;
    margin: 25px;
    color: azure;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding-top: 40px;
}
.empty-space{
    flex-basis: 120px;
    height: 75px;
    margin: 25px;
}
