.contain-all{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 2%;
}
.sec-header{
    background-color: darkgoldenrod;
    border: 2px solid black;
    flex-basis: 25%;
    flex-direction: row;
    margin: 2%;
}
.sec-main{
    display: flex;
    height: 100%;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}
.sec-box1{
    background-color: darkturquoise;
    border: 2px solid black;
    margin-bottom: 10%;
    height: 200px;
    margin: 2%;
}
.sec-box2{
    background-color: gray;
    border: 2px solid black;
    height: 600px;
    margin: 2%;
}
.sec-aside{
    background-color: palevioletred;
    border: 2px solid black;
    flex-direction: row;
    flex-basis: 25%;
    margin: 2%;
}

.sec-footer{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 2%;
}
.second-container{
    background-color: red;
    border: 2px solid black;
    flex-direction: row;
    flex-basis: 100%;
    height: 300px;
    margin: 2%;
    margin-top: .5%;
    
}